<p class = "center">
	<%=link_to "Add new post!", new_post_path, :class => "btn btn-primary" %>
</p>
<p class = "center">
	<%=link_to "Posts list", posts_path, :class => "btn btn-primary" %>
</p>
<hr></hr>
<p class="center">
	<%=link_to "Users list (admin only)", logins_path, :class => "btn btn-primary" %>
</p>


